/*

                CSS MADE WITH LOVE. 
                Pode copiar, só não faz igual ;) 

                Project from freeCodeCamp 
                Responsive Web Design - Build a Landing Page

                Inícia: 14:06:2020
                Final: 


*/

            /* -------------------- *\
                    MAIN CONFIG
            \* -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 12);
    color: #f0f0f5;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
}

.title {
    font-size: 35px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}



            /* -------------------- *\
                     #HEADER
            \* -------------------- */

#header {
    width: 100%;
    min-height: 80px;
    margin-bottom: 25px;
    padding: 0 20px;

    background-color: white;

    position: fixed top;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
        
}

.logo {

}

#header-img {
    width: 150px;
    height: auto;
}

#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;

}

#nav li {
    padding: 10px;
    margin-left: 10px;    
}



            /* -------------------- *\
                     #MAIN
            \* -------------------- */

#main {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    margin-bottom: 25px;
    padding: 20px;
}



            /* -------------------- *\
                     #FEATURES
            \* -------------------- */

#features {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#titleBox {
    text-align: center;
    margin: 15px 0;
}

#form {
    border: white solid 1px;
    border-radius: 8px;
    padding: 10px 25px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#email {
    width: 99%;
    height: 25px;
    border-radius: 2px;
    padding: 0 5px;
    border-style: none;
    margin-bottom: 2px;
}

#btnForm {
    background-color: goldenrod;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 99%;
    height: auto;
    padding: 0 5px;

}

.featureBox {
    padding: 30px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    text-align: center;
}

.feature {
    border: white solid 1px;
    border-radius: 5px;
    width: 40%;
    margin: 0 10px;
    padding: 10px 0;

}

.icon {
    font-size: 50px;
    margin-bottom: 8px;
    color: goldenrod;
}

#process {
    border: goldenrod solid;

    margin-bottom: 25px;
}

#prices {
    
    padding: 20px;
}

.priceArea {
    
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.priceBox {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid white 1px;
}



            /* -------------------- *\
                     #FOOTER
            \* -------------------- */

#footer {
    width: 100%;
    height: 25px;
    background-color: black;
    font-size: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}